Repository JeffreyChow19/icando-assesment-system: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be-build, fe-build

.gitlab-ci.yml:

stages:
  - be-build
  - fe-build

variables:
  GO_PROJECT: gitlab.informatika.org/if3250-k01-g07/assesment-system/icando-ae-api
  POSTGRES_DB: ${TEST_DB_NAME}
  POSTGRES_USER: ${TEST_DB_USERNAME}
  POSTGRES_PASSWORD: ${TEST_DB_PASSWORD}

be-build:
  image: golang:1.22.1-alpine
  stage: be-build
  script:
    - mkdir -p $GOPATH/src/$(dirname $GO_PROJECT)
    - ln -svf $CI_PROJECT_DIR $GOPATH/src/$GO_PROJECT
    - cd $GOPATH/src/$GO_PROJECT/icando-ae-api
    - go build -o ./main ./cmd/server/server.go
  artifacts:
    paths:
      - ./icando-ae-api/main
  only:
    refs:
      - main
      - merge_requests
    changes:
      - icando-ae-api/**/*

fe-build:
  image: node:20-alpine
  stage: fe-build
  script:
    - cd icando-ae-fe
    - npm install -g pnpm
    - pnpm install
    - pnpm run build
  only:
    refs:
      - main
      - merge_requests
    changes:
      - icando-ae-fe/**/*
# be-test:
#   stage: be-test
#   services:
#     - name: postgres:14
#       alias: test_database
#   script:
#     - go test -v ./...
#   only:
#     refs:
#       - main
#       - merge_requests
#     changes:
#       - icando-ae-api/**/*

fix: change header logo
  icando-ae-fe/apps/assessment-web/public/logo.png
  icando-ae-fe/apps/assessment-web/src/layouts/navigation.tsx
  icando-ae-fe/apps/assessment-web/src/pages/home/index.tsx
  icando-ae-fe/apps/assessment-web/src/pages/join.tsx
Due: fe-build

feat: setup analytics route
  icando-ae-api/internal/domain/repository/analytics.go
  icando-ae-api/internal/domain/repository/repository.go
  icando-ae-api/internal/domain/service/analytics.go
  icando-ae-api/internal/domain/service/service.go
  icando-ae-api/internal/handler/handler.go
  icando-ae-api/internal/handler/teacher/analytics.go
  icando-ae-api/internal/model/dao/analytics.go
  icando-ae-api/internal/model/dto/analytics.go
  icando-ae-api/internal/route/route.go
  icando-ae-api/internal/route/teacher/analytics.go
Due: be-build

feat: add query to get dashboard overview
  icando-ae-api/internal/domain/repository/teacher.go
  icando-ae-api/internal/model/dao/teacher.go
Due: be-build

feat: setup service and handler for dashboard overview
  icando-ae-api/internal/domain/service/teacher.go
  icando-ae-api/internal/handler/designer/teacher.go
Due: be-build

feat: setup analytics route
  icando-ae-api/internal/route/route.go
  icando-ae-api/internal/route/teacher/analytics.go
Due: be-build

fix: quiz performance filter dto
  icando-ae-api/internal/domain/repository/analytics.go
  icando-ae-api/internal/domain/service/analytics.go
  icando-ae-api/internal/handler/teacher/analytics.go
  icando-ae-api/internal/model/dto/analytics.go
Due: be-build

fix: return student quiz in get quiz overview
  icando-ae-api/internal/domain/service/student_quiz.go
Due: be-build

refactor: student quiz context and state management
  icando-ae-fe/apps/assessment-web/src/components/protected-route.tsx
  icando-ae-fe/apps/assessment-web/src/context/user-context.tsx
  icando-ae-fe/apps/assessment-web/src/layouts/navigation.tsx
  icando-ae-fe/apps/assessment-web/src/pages/home/index.tsx
  icando-ae-fe/apps/assessment-web/src/pages/quiz.tsx
  icando-ae-fe/apps/assessment-web/src/services/quiz.ts
Due: fe-build

feat: add teacher class in context
  icando-ae-api/internal/domain/repository/teacher.go
  icando-ae-api/internal/middleware/auth.go
  icando-ae-api/internal/model/dao/teacher.go
  icando-ae-api/internal/model/dto/teacher.go
  icando-ae-api/internal/model/enum/context.go
  icando-ae-api/internal/model/teacher.go
Due: be-build

feat: add student review quiz handler
  icando-ae-api/internal/domain/service/student_quiz.go
  icando-ae-api/internal/handler/handler.go
  icando-ae-api/internal/handler/teacher/quiz.go
  icando-ae-api/internal/route/route.go
  icando-ae-api/internal/route/teacher/quiz.go
Due: be-build

chore: change copy for submitting quiz
  icando-ae-fe/apps/assessment-web/src/pages/quiz.tsx
Due: fe-build

feat: initial review page
  icando-ae-api/internal/domain/repository/competency.go
  icando-ae-api/internal/middleware/auth.go
  icando-ae-fe/apps/analytics-dashboard/src/App.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/review/question-list.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/review/student-quiz.tsx
  icando-ae-fe/apps/analytics-dashboard/src/interfaces/competency.ts
  icando-ae-fe/apps/analytics-dashboard/src/interfaces/question.ts
  icando-ae-fe/apps/analytics-dashboard/src/interfaces/quiz.ts
  icando-ae-fe/apps/analytics-dashboard/src/interfaces/user.ts
  icando-ae-fe/apps/analytics-dashboard/src/pages/quizzes/review/index.tsx
  icando-ae-fe/apps/analytics-dashboard/src/services/quiz.ts
  icando-ae-fe/apps/assessment-web/src/interfaces/user.ts
Due: be-build, fe-build

chore: change width and border radius
  icando-ae-fe/packages/ui/src/components/ui/sheet.tsx
Due: fe-build

chore: set page title to Quiz
  icando-ae-fe/apps/assessment-web/src/pages/quiz.tsx
Due: fe-build

chore: change sidebar to use Sheet
  icando-ae-fe/apps/assessment-web/src/layouts/navigation.tsx
Due: fe-build

chore: pass setSidebarOpen
  icando-ae-fe/apps/assessment-web/src/layouts/layout.tsx
Due: fe-build

feat: quiz review quiz info
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/review/question-list.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/review/quiz-info.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/review/student-quiz.tsx
  icando-ae-fe/apps/analytics-dashboard/src/services/quiz.ts
  icando-ae-fe/apps/analytics-dashboard/src/utils/date.ts
Due: fe-build

fix quiz score
  icando-ae-api/internal/domain/service/student_quiz.go
Due: be-build

fix: navigation route when quiz submitted or not
  icando-ae-fe/apps/assessment-web/src/pages/home/index.tsx
  icando-ae-fe/apps/assessment-web/src/pages/submit.tsx
Due: fe-build

feat: stats on review page
  icando-ae-fe/apps/analytics-dashboard/package.json
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/competency-chart.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/review/student-quiz.tsx
  icando-ae-fe/apps/analytics-dashboard/src/pages/quizzes/review/index.tsx
  icando-ae-fe/pnpm-lock.yaml
Due: fe-build

feat: make quiz detail service for student endpoint
  icando-ae-api/internal/domain/service/student_quiz.go
Due: be-build

feat: add BE to get quiz review for students
  icando-ae-api/internal/handler/student/student_quiz.go
  icando-ae-api/internal/route/student/quiz.go
Due: be-build

feat: add question caard on FE
  icando-ae-fe/apps/assessment-web/src/components/question-answer-card.tsx
Due: fe-build

fix: merge conflict
  icando-ae-api/internal/domain/service/student_quiz.go
  icando-ae-fe/apps/assessment-web/src/pages/submit.tsx
Due: be-build, fe-build

feat: add review page
  icando-ae-fe/apps/assessment-web/src/App.tsx
  icando-ae-fe/apps/assessment-web/src/components/protected-route.tsx
  icando-ae-fe/apps/assessment-web/src/pages/review.tsx
  icando-ae-fe/apps/assessment-web/src/services/quiz.ts
Due: fe-build

fix: remove unused imports
  icando-ae-fe/apps/assessment-web/src/components/question-answer-card.tsx
  icando-ae-fe/apps/assessment-web/src/pages/review.tsx
Due: fe-build

feat: get latest submission dao
  icando-ae-api/internal/model/dao/analytics.go
Due: be-build

feat: get latest submission dto
  icando-ae-api/internal/model/dto/analytics.go
Due: be-build

feat: get latest submission repository
  icando-ae-api/internal/domain/repository/analytics.go
Due: be-build

feat: get latest submission service
  icando-ae-api/internal/domain/service/analytics.go
Due: be-build

feat: get latest submission handler
  icando-ae-api/internal/handler/teacher/analytics.go
Due: be-build

feat: get latest submission route
  icando-ae-api/internal/route/teacher/analytics.go
Due: be-build

feat: base page for quizzes table
  icando-ae-fe/apps/analytics-dashboard/src/App.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/pagination.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/quizzes-table.tsx
  icando-ae-fe/apps/analytics-dashboard/src/interfaces/meta.ts
  icando-ae-fe/apps/analytics-dashboard/src/pages/quizzes/index.tsx
  icando-ae-fe/apps/analytics-dashboard/src/services/quiz.ts
Due: fe-build

chore: implement endpoint for getallquiz from teacher side
  icando-ae-api/internal/handler/teacher/quiz.go
  icando-ae-api/internal/route/teacher/quiz.go
  icando-ae-fe/apps/analytics-dashboard/src/services/quiz.ts
Due: be-build, fe-build

feat(ad-01-11): get student quizzes and get student quiz competency repo
  icando-ae-api/internal/domain/repository/analytics.go
Due: be-build

feat(ad-01-11): GetStudentQuizCompetencyDao, GetStudentQuizzesDao, GetStudentStatisticsDao
  icando-ae-api/internal/model/dao/analytics.go
Due: be-build

feat(ad-01-11): GetStudentStatistics service
  icando-ae-api/internal/domain/service/analytics.go
Due: be-build

feat(ad-01-11): GetStudentStatistics handler
  icando-ae-api/internal/handler/teacher/analytics.go
Due: be-build

feat(ad-01-11): GetStudentStatistics route
  icando-ae-api/internal/route/teacher/analytics.go
Due: be-build

fix: getallquiz filtering on repository
  icando-ae-api/internal/domain/repository/quiz.go
  icando-ae-api/internal/model/dto/quiz.go
Due: be-build
