Repository JeffreyChow19/icando-assesment-system: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be-build, fe-build

.gitlab-ci.yml:

stages:
  - be-build
  - fe-build

variables:
  GO_PROJECT: gitlab.informatika.org/if3250-k01-g07/assesment-system/icando-ae-api
  POSTGRES_DB: ${TEST_DB_NAME}
  POSTGRES_USER: ${TEST_DB_USERNAME}
  POSTGRES_PASSWORD: ${TEST_DB_PASSWORD}

be-build:
  image: golang:1.22.1-alpine
  stage: be-build
  script:
    - mkdir -p $GOPATH/src/$(dirname $GO_PROJECT)
    - ln -svf $CI_PROJECT_DIR $GOPATH/src/$GO_PROJECT
    - cd $GOPATH/src/$GO_PROJECT/icando-ae-api
    - go build -o ./main ./cmd/server/server.go
  artifacts:
    paths:
      - ./icando-ae-api/main
  only:
    refs:
      - main
      - merge_requests
    changes:
      - icando-ae-api/**/*

fe-build:
  image: node:20-alpine
  stage: fe-build
  script:
    - cd icando-ae-fe
    - npm install -g pnpm
    - pnpm install
    - pnpm run build
  only:
    refs:
      - main
      - merge_requests
    changes:
      - icando-ae-fe/**/*
# be-test:
#   stage: be-test
#   services:
#     - name: postgres:14
#       alias: test_database
#   script:
#     - go test -v ./...
#   only:
#     refs:
#       - main
#       - merge_requests
#     changes:
#       - icando-ae-api/**/*

update be marshal name
  icando-ae-api/internal/model/dao/question.go
  icando-ae-api/internal/model/dto/question.go
  icando-ae-api/internal/model/dto/quiz.go
Due: be-build

form tabs, update quiz
  icando-ae-fe/apps/assessment-engine/src/components/quiz/questions/question-list.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quiz/quiz-form.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quiz/quiz-info.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quiz/quiz-schema.ts
  icando-ae-fe/apps/assessment-engine/src/interfaces/question.ts
  icando-ae-fe/apps/assessment-engine/src/services/quiz.ts
Due: fe-build

rafactor question form
  icando-ae-fe/apps/assessment-engine/src/components/quiz/questions/question-form.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quiz/questions/question-schema.ts
  icando-ae-fe/apps/assessment-engine/src/components/quiz/questions/question-step-1.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quiz/questions/question-step-2.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quiz/quiz-form.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quiz/quiz-info.tsx
Due: fe-build

fix update question
  icando-ae-fe/apps/assessment-engine/src/components/quiz/questions/question-form.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quiz/questions/question-list.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quiz/quiz-form.tsx
Due: fe-build

fix answer form
  icando-ae-fe/apps/assessment-engine/src/components/quiz/questions/question-form.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quiz/questions/question-list.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quiz/questions/question-schema.ts
  icando-ae-fe/apps/assessment-engine/src/components/quiz/questions/question-step-1.tsx
  icando-ae-fe/apps/assessment-engine/src/services/quiz.ts
Due: fe-build

fix on fresh quiz
  icando-ae-api/internal/model/dao/quiz.go
  icando-ae-api/internal/model/quiz.go
  icando-ae-fe/apps/assessment-engine/src/components/quiz/quiz-form.tsx
Due: be-build, fe-build

fix: route
  icando-ae-fe/apps/assessment-engine/src/App.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quizzes/quizzes-table.tsx
  icando-ae-fe/apps/assessment-engine/src/layouts/navigation.tsx
Due: fe-build

chore: add order to question
  icando-ae-api/internal/domain/service/question.go
  icando-ae-api/internal/migrations/sql/20240322084755_add_order_column_to_question.sql
  icando-ae-api/internal/model/dao/question.go
  icando-ae-api/internal/model/dto/question.go
  icando-ae-api/internal/model/question.go
Due: be-build

feat: integrate quiz interface and service
  icando-ae-fe/apps/assessment-engine/src/components/quizzes/quiz-card.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quizzes/quizzes-table.tsx
  icando-ae-fe/apps/assessment-engine/src/services/quiz.ts
Due: fe-build

feat: delete question
  icando-ae-api/internal/domain/repository/question.go
  icando-ae-api/internal/domain/service/question.go
  icando-ae-api/internal/handler/designer/question.go
  icando-ae-api/internal/route/designer/question.go
Due: be-build

chore: clear unused variable
  icando-ae-fe/apps/assessment-engine/src/components/quizzes/quizzes-table.tsx
Due: fe-build

feat: integrate delete question
  icando-ae-fe/apps/assessment-engine/src/components/quiz/questions/question-list.tsx
  icando-ae-fe/apps/assessment-engine/src/services/quiz.ts
Due: fe-build

feat: question order
  icando-ae-api/internal/domain/repository/quiz.go
  icando-ae-api/internal/model/question.go
  icando-ae-fe/apps/assessment-engine/src/components/quiz/questions/question-form.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quiz/questions/question-list.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quiz/questions/question-schema.ts
  icando-ae-fe/apps/assessment-engine/src/components/quiz/quiz-form.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quiz/quiz-schema.ts
  icando-ae-fe/apps/assessment-engine/src/interfaces/question.ts
  icando-ae-fe/apps/assessment-engine/src/services/quiz.ts
Due: be-build, fe-build

fix minor
  icando-ae-fe/apps/assessment-engine/src/components/quiz/quiz-form.tsx
Due: fe-build

fix infinite loop
  icando-ae-fe/apps/assessment-engine/src/components/quiz/questions/question-form.tsx
Due: fe-build

refactor: typo on institutions
  icando-ae-api/internal/model/class.go
  icando-ae-api/internal/model/dao/class.go
  icando-ae-api/internal/route/designer/class.go
Due: be-build

feat: update and create class form
  icando-ae-fe/apps/assessment-engine/src/App.tsx
  icando-ae-fe/apps/assessment-engine/src/components/classes/classes-form.tsx
  icando-ae-fe/apps/assessment-engine/src/interfaces/classes.ts
  icando-ae-fe/apps/assessment-engine/src/pages/classes/class-edit.tsx
  icando-ae-fe/apps/assessment-engine/src/pages/classes/class-new.tsx
  icando-ae-fe/apps/assessment-engine/src/services/classes.ts
Due: fe-build

fix: cors on handler getallstudent
  icando-ae-api/internal/route/designer/class.go
Due: be-build

chore: restyle classes table
  icando-ae-fe/apps/assessment-engine/src/components/classes/classes-table.tsx
Due: fe-build

feat: create/update class now uses context institutionId
  icando-ae-api/internal/handler/designer/class.go
  icando-ae-api/internal/model/dto/class.go
  icando-ae-fe/apps/assessment-engine/src/components/classes/classes-form.tsx
Due: be-build, fe-build

feat: create/update class now uses context institutionId
  icando-ae-fe/apps/assessment-engine/src/components/classes/classes-form.tsx
  icando-ae-fe/apps/assessment-engine/src/services/classes.ts
Due: fe-build

feat: assign/unassign student interface
  icando-ae-fe/apps/assessment-engine/src/App.tsx
  icando-ae-fe/apps/assessment-engine/src/components/classes/classes-table.tsx
  icando-ae-fe/apps/assessment-engine/src/components/classes/participants.tsx
  icando-ae-fe/apps/assessment-engine/src/pages/classes/class-participants.tsx
Due: fe-build

feat: add search and class filter in student table
  icando-ae-api/internal/domain/repository/student.go
  icando-ae-fe/apps/assessment-engine/package.json
  icando-ae-fe/apps/assessment-engine/src/components/students/students-table.tsx
  icando-ae-fe/apps/assessment-engine/src/services/student.ts
  icando-ae-fe/pnpm-lock.yaml
Due: be-build, fe-build

feat: add back, add class name
  icando-ae-fe/apps/assessment-engine/src/components/students/students-table.tsx
  icando-ae-fe/apps/assessment-engine/src/pages/students/students-edit.tsx
  icando-ae-fe/apps/assessment-engine/src/pages/students/students-new.tsx
Due: fe-build

feat: add sort on get all students filter
  icando-ae-api/internal/domain/repository/student.go
  icando-ae-api/internal/model/dto/student.go
Due: be-build

fix: bug on get students fe
  icando-ae-fe/apps/assessment-engine/src/components/students/students-table.tsx
  icando-ae-fe/apps/assessment-engine/src/services/student.ts
Due: fe-build

feat: set up asynq worker on BE
  icando-ae-api/.env.example
  icando-ae-api/cmd/worker/worker.go
  icando-ae-api/docker-compose.yml
  icando-ae-api/go.mod
  icando-ae-api/go.sum
  icando-ae-api/internal/worker/client.go
  icando-ae-api/internal/worker/handlers/handler.go
  icando-ae-api/internal/worker/server.go
  icando-ae-api/internal/worker/worker.go
  icando-ae-api/lib/config.go
Due: be-build

fix query invalidation for quiz
  icando-ae-fe/apps/assessment-engine/src/components/quiz/quiz-form.tsx
Due: fe-build

feat: student quiz migration
  icando-ae-api/internal/migrations/sql/20240409155958_add_student_quiz.sql
Due: be-build

feat: student quiz and answer model and dao
  icando-ae-api/internal/model/dao/student_answer.go
  icando-ae-api/internal/model/dao/student_quiz.go
  icando-ae-api/internal/model/enum/quiz_status.go
  icando-ae-api/internal/model/student_answer.go
  icando-ae-api/internal/model/student_quiz.go
Due: be-build

feat: student quiz repository
  icando-ae-api/internal/domain/repository/repository.go
  icando-ae-api/internal/domain/repository/student_quiz.go
  icando-ae-api/internal/model/dto/student_quiz.go
Due: be-build

feat: generate quiz token
  icando-ae-api/internal/domain/service/auth.go
  icando-ae-api/internal/model/dto/auth.go
Due: be-build

feat: add student on student quiz
  icando-ae-api/internal/domain/repository/student_quiz.go
  icando-ae-api/internal/migrations/sql/20240411132741_add_student_id_on_student_quiz.sql
  icando-ae-api/internal/model/dao/student_quiz.go
  icando-ae-api/internal/model/dto/student_quiz.go
  icando-ae-api/internal/model/student_quiz.go
Due: be-build

feat: update auth middleware and context
  icando-ae-api/internal/middleware/auth.go
  icando-ae-api/internal/model/enum/context.go
Due: be-build

feat: clone quiz
  icando-ae-api/internal/domain/repository/quiz.go
  icando-ae-api/internal/domain/service/quiz.go
  icando-ae-api/internal/model/dto/quiz.go
Due: be-build

feat: add quiz_class many-to-many relation
  icando-ae-api/internal/domain/repository/class.go
  icando-ae-api/internal/domain/repository/quiz.go
  icando-ae-api/internal/migrations/sql/20240411170346_add_student_quiz_classes.sql
  icando-ae-api/internal/model/class.go
  icando-ae-api/internal/model/dao/class.go
  icando-ae-api/internal/model/dao/quiz.go
  icando-ae-api/internal/model/dto/class.go
  icando-ae-api/internal/model/dto/quiz.go
  icando-ae-api/internal/model/quiz.go
Due: be-build

feat: implement assigned class on clone quiz
  icando-ae-api/internal/domain/repository/quiz.go
Due: be-build

fix: dependency on student quiz repository
  icando-ae-api/internal/domain/repository/student_quiz.go
Due: be-build
