Repository JeffreyChow19/icando-assesment-system: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be-build, fe-build

be-build:
  image: golang:1.22.1-alpine
  stage: be-build
  script:
  - mkdir -p $GOPATH/src/$(dirname $GO_PROJECT)
  - ln -svf $CI_PROJECT_DIR $GOPATH/src/$GO_PROJECT
  - cd $GOPATH/src/$GO_PROJECT/icando-ae-api
  - go build -o ./main ./cmd/server/server.go
  artifacts:
    paths:
    - ./icando-ae-api/main

fe-build:
  image: node:20-alpine
  stage: fe-build
  script:
  - cd icando-ae-fe
  - npm install -g pnpm
  - pnpm install
  - pnpm run build

feat: add get quiz availability endpoint for student
  icando-ae-api/internal/domain/service/student_quiz.go
  icando-ae-api/internal/handler/student/student_quiz.go
  icando-ae-api/internal/model/dao/quiz.go
  icando-ae-api/internal/route/student/quiz.go
Due: be-build

feat: add get quiz detail endpoint for student
  icando-ae-api/internal/domain/service/student_quiz.go
  icando-ae-api/internal/handler/student/student_quiz.go
  icando-ae-api/internal/route/student/quiz.go
Due: be-build

enqueue calculate quiz on submit
  icando-ae-api/internal/domain/service/student_quiz.go
Due: be-build

chore: change cancel button color
  icando-ae-fe/apps/assessment-engine/src/context/alert-dialog.tsx
Due: fe-build

fix: add badge color and change quiz detail interface
  icando-ae-fe/apps/assessment-engine/src/interfaces/quiz.ts
  icando-ae-fe/packages/ui/src/components/ui/badge.tsx
Due: fe-build

fix: change received data to badge
  icando-ae-fe/apps/assessment-engine/src/components/quizzes/quiz-card.tsx
Due: fe-build

refactor: auth.ts
  icando-ae-fe/apps/assessment-engine/src/services/auth.ts
  icando-ae-fe/apps/assessment-web/index.html
  icando-ae-fe/apps/assessment-web/src/services/auth.ts
Due: fe-build

feat: modify validation for update answer and get quiz for student
  icando-ae-api/internal/domain/service/student_quiz.go
Due: be-build

chore: AW interfaces
  icando-ae-fe/apps/assessment-web/src/interfaces/competency.ts
  icando-ae-fe/apps/assessment-web/src/interfaces/question.ts
  icando-ae-fe/apps/assessment-web/src/interfaces/quiz.ts
  icando-ae-fe/apps/assessment-web/src/interfaces/user.ts
Due: fe-build

feat: quiz sidebar
  icando-ae-fe/apps/assessment-web/public/ic_sidebar.svg
  icando-ae-fe/apps/assessment-web/src/layouts/layout.tsx
  icando-ae-fe/apps/assessment-web/src/layouts/navigation.tsx
Due: fe-build

feat: base setup for protected route
  icando-ae-fe/apps/assessment-web/src/App.tsx
  icando-ae-fe/apps/assessment-web/src/components/protected-route.tsx
  icando-ae-fe/apps/assessment-web/src/layouts/layout.tsx
  icando-ae-fe/apps/assessment-web/src/pages/quiz.tsx
  icando-ae-fe/apps/assessment-web/src/services/auth.ts
  icando-ae-fe/apps/assessment-web/src/services/quiz.ts
Due: fe-build

chore: test page for protectedroute
  icando-ae-fe/apps/assessment-web/src/pages/hello.tsx
Due: fe-build

fix: retrieve quiz availability
  icando-ae-fe/apps/assessment-web/src/components/protected-route.tsx
  icando-ae-fe/apps/assessment-web/src/context/user-context.tsx
  icando-ae-fe/apps/assessment-web/src/interfaces/quiz.ts
  icando-ae-fe/apps/assessment-web/src/interfaces/user.ts
  icando-ae-fe/apps/assessment-web/src/layouts/navigation.tsx
  icando-ae-fe/apps/assessment-web/src/services/auth.ts
  icando-ae-fe/apps/assessment-web/src/services/quiz.ts
Due: fe-build

refactor: dropped checkquizavailability from auth
  icando-ae-fe/apps/assessment-web/src/context/user-context.tsx
  icando-ae-fe/apps/assessment-web/src/services/auth.ts
Due: fe-build

fix: loadingcomponent placement for ClassDetailPage
  icando-ae-fe/apps/assessment-engine/src/components/classes/class-info.tsx
  icando-ae-fe/apps/assessment-engine/src/pages/classes/class-detail.tsx
Due: fe-build

refactor: rename user-context, dropped auth.ts, changed path route for getQuizAvailability
  icando-ae-api/internal/domain/service/quiz.go
  icando-ae-fe/apps/assessment-web/src/components/protected-route.tsx
  icando-ae-fe/apps/assessment-web/src/context/user-context.tsx
  icando-ae-fe/apps/assessment-web/src/services/auth.ts
  icando-ae-fe/apps/assessment-web/src/services/quiz.ts
Due: be-build, fe-build

feat: quiz card design
  icando-ae-fe/apps/assessment-web/src/components/card/quiz-card.tsx
Due: fe-build

feat: add interface quiz user question
  icando-ae-fe/apps/assessment-web/src/interfaces/question.ts
  icando-ae-fe/apps/assessment-web/src/interfaces/quiz.ts
  icando-ae-fe/apps/assessment-web/src/interfaces/user.ts
Due: fe-build

chore: delete comment
  icando-ae-fe/apps/assessment-web/src/components/card/quiz-card.tsx
Due: fe-build

feat: add home file
  icando-ae-fe/apps/assessment-web/src/App.tsx
  icando-ae-fe/apps/assessment-web/src/pages/home/index.tsx
Due: fe-build

chore: update test page
  icando-ae-fe/apps/assessment-web/src/components/protected-route.tsx
  icando-ae-fe/apps/assessment-web/src/pages/quiz.tsx
Due: fe-build

feat: repo get quiz history
  icando-ae-api/internal/domain/repository/quiz.go
Due: be-build

feat: service get quiz history
  icando-ae-api/internal/domain/service/quiz.go
Due: be-build

feat: handler and route quiz history
  icando-ae-api/internal/handler/designer/quiz.go
  icando-ae-api/internal/model/dto/quiz.go
  icando-ae-api/internal/route/designer/quiz.go
Due: be-build

feat: dropdown for quiz history
  icando-ae-fe/apps/assessment-engine/src/components/quizzes/quiz-card.tsx
Due: fe-build

feat: reused route /auth/student/profile, changed to use STUDENT_QUIZ_ID_CONTEXT_KEY
  icando-ae-api/internal/handler/auth.go
Due: be-build

fix: remove token param without reload on protected route
  icando-ae-fe/apps/assessment-web/src/components/protected-route.tsx
Due: fe-build

fix: change layout param
  icando-ae-fe/apps/assessment-web/src/layouts/layout.tsx
  icando-ae-fe/apps/assessment-web/src/layouts/navigation.tsx
Due: fe-build

feat: add quiz and student profile interface
  icando-ae-fe/apps/assessment-web/src/interfaces/quiz.ts
  icando-ae-fe/apps/assessment-web/src/interfaces/user.ts
  icando-ae-fe/apps/assessment-web/src/pages/quiz.tsx
Due: fe-build

feat: add student profile context
  icando-ae-fe/apps/assessment-web/src/context/user-context.tsx
  icando-ae-fe/apps/assessment-web/src/services/student.ts
Due: fe-build

chore: provide student profile provider
  icando-ae-fe/apps/assessment-web/src/App.tsx
Due: fe-build

feat: integrate home interface
  icando-ae-fe/apps/assessment-web/src/components/card/quiz-card.tsx
  icando-ae-fe/apps/assessment-web/src/pages/home/index.tsx
  icando-ae-fe/apps/assessment-web/src/services/quiz.ts
Due: fe-build

feat: add insert token
  icando-ae-fe/apps/assessment-web/src/App.tsx
  icando-ae-fe/apps/assessment-web/src/components/protected-route.tsx
  icando-ae-fe/apps/assessment-web/src/pages/hello.tsx
  icando-ae-fe/apps/assessment-web/src/pages/join.tsx
Due: fe-build

fix: disable button when quiz hasnt started or ended
  icando-ae-fe/apps/assessment-web/src/pages/home/index.tsx
Due: fe-build

fix: quiz history api
  icando-ae-api/internal/domain/repository/quiz.go
  icando-ae-api/internal/domain/service/quiz.go
  icando-ae-api/internal/handler/designer/quiz.go
Due: be-build

feat: integrate quiz history page and api
  icando-ae-fe/apps/assessment-engine/src/components/quizzes/quiz-history.tsx
  icando-ae-fe/apps/assessment-engine/src/services/quiz.ts
Due: fe-build

fix: sort api get all quiz
  icando-ae-api/internal/domain/repository/quiz.go
Due: be-build

feat: add view quiz history
  icando-ae-fe/apps/assessment-engine/src/App.tsx
  icando-ae-fe/apps/assessment-engine/src/pages/quiz/view.tsx
Due: fe-build

feat: add check version history on quiz card
  icando-ae-fe/apps/assessment-engine/src/components/quizzes/quiz-card.tsx
Due: fe-build

feat: add detailed view quiz version page
  icando-ae-fe/apps/assessment-engine/src/components/quiz/history/question-list.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quiz/history/quiz-form.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quiz/history/quiz-info.tsx
Due: fe-build

Path conditions:
  be-build: any of: icando-ae-api/**/*
  fe-build: any of: icando-ae-fe/**/*
