Repository JeffreyChow19/icando-assesment-system: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be-build, fe-build

.gitlab-ci.yml:

stages:
  - be-build
  - fe-build

variables:
  GO_PROJECT: gitlab.informatika.org/if3250-k01-g07/assesment-system/icando-ae-api
  POSTGRES_DB: ${TEST_DB_NAME}
  POSTGRES_USER: ${TEST_DB_USERNAME}
  POSTGRES_PASSWORD: ${TEST_DB_PASSWORD}

be-build:
  image: golang:1.22.1-alpine
  stage: be-build
  script:
    - mkdir -p $GOPATH/src/$(dirname $GO_PROJECT)
    - ln -svf $CI_PROJECT_DIR $GOPATH/src/$GO_PROJECT
    - cd $GOPATH/src/$GO_PROJECT/icando-ae-api
    - go build -o ./main ./cmd/server/server.go
  artifacts:
    paths:
      - ./icando-ae-api/main
  only:
    refs:
      - main
      - merge_requests
    changes:
      - icando-ae-api/**/*

fe-build:
  image: node:20-alpine
  stage: fe-build
  script:
    - cd icando-ae-fe
    - npm install -g pnpm
    - pnpm install
    - pnpm run build
  only:
    refs:
      - main
      - merge_requests
    changes:
      - icando-ae-fe/**/*
# be-test:
#   stage: be-test
#   services:
#     - name: postgres:14
#       alias: test_database
#   script:
#     - go test -v ./...
#   only:
#     refs:
#       - main
#       - merge_requests
#     changes:
#       - icando-ae-api/**/*

feat: query filters on quiz table AD
  icando-ae-fe/apps/analytics-dashboard/package.json
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/quizzes-table.tsx
  icando-ae-fe/apps/analytics-dashboard/src/utils/constants.ts
  icando-ae-fe/pnpm-lock.yaml
Due: fe-build

feat: history endpoint for teacher
  icando-ae-api/internal/handler/teacher/quiz.go
  icando-ae-api/internal/route/teacher/quiz.go
  icando-ae-fe/apps/analytics-dashboard/src/interfaces/quiz.ts
  icando-ae-fe/apps/analytics-dashboard/src/services/quiz.ts
Due: be-build, fe-build

chore: ui quiz table collapsible
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/history-collapsible.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/quizzes-table.tsx
  icando-ae-fe/apps/analytics-dashboard/src/utils/format-date.ts
Due: fe-build

refactor: dashboard overview endpoint, fix: improve query performance
  icando-ae-api/internal/domain/repository/analytics.go
  icando-ae-api/internal/domain/repository/teacher.go
  icando-ae-api/internal/domain/service/analytics.go
  icando-ae-api/internal/domain/service/teacher.go
  icando-ae-api/internal/handler/designer/teacher.go
  icando-ae-api/internal/handler/teacher/analytics.go
  icando-ae-api/internal/route/teacher/analytics.go
Due: be-build

fix: debounce for default selection of quiz subject filter
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/quizzes-table.tsx
Due: fe-build

refactor: analytics BE
  icando-ae-api/internal/domain/repository/analytics.go
  icando-ae-api/internal/domain/service/analytics.go
  icando-ae-api/internal/handler/teacher/analytics.go
  icando-ae-api/internal/model/dao/analytics.go
  icando-ae-api/internal/model/dto/analytics.go
Due: be-build

feat: add get student quizzes on student quiz repo
  icando-ae-api/internal/domain/service/student_quiz.go
Due: be-build

feat: add get student quizzes on student quiz service
  icando-ae-api/internal/domain/repository/student_quiz.go
Due: be-build

feat: add get quiz service
  icando-ae-api/internal/domain/service/quiz.go
Due: be-build

feat: add get quiz route on teacher
  icando-ae-api/internal/handler/designer/quiz.go
  icando-ae-api/internal/handler/teacher/quiz.go
  icando-ae-api/internal/route/route.go
  icando-ae-api/internal/route/teacher/quiz.go
Due: be-build

feat: add is teaching classes function on teacher
  icando-ae-api/internal/model/teacher.go
Due: be-build

feat: add student quiz route
  icando-ae-api/internal/route/teacher/student-quiz.go
Due: be-build

chore: renamed quiz service to student quiz on AD fe
  icando-ae-fe/apps/analytics-dashboard/src/services/student-quiz.ts
Due: fe-build

chore: renamed quiz service to student quiz on AD fe
  icando-ae-fe/apps/analytics-dashboard/src/services/quiz.ts
Due: fe-build

chore: pagination to use with search params
  icando-ae-fe/apps/analytics-dashboard/src/components/pagination.tsx
Due: fe-build

feat: add format date on ad fe
  icando-ae-fe/apps/analytics-dashboard/src/utils/format-date.ts
Due: fe-build

feat: add quiz detail card
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/quiz-detail-card.tsx
Due: fe-build

feat: add quiz detail service on ad fe
  icando-ae-fe/apps/analytics-dashboard/src/interfaces/meta.ts
  icando-ae-fe/apps/analytics-dashboard/src/services/analytics.ts
  icando-ae-fe/apps/analytics-dashboard/src/services/quiz.ts
Due: fe-build

feat: add quiz detail page
  icando-ae-fe/apps/analytics-dashboard/src/App.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/review/student-quiz.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/shared/passed-pie-chart.tsx
  icando-ae-fe/apps/analytics-dashboard/src/pages/quizzes/quiz-detail.tsx
Due: fe-build

chore: undo change
  icando-ae-fe/package.json
Due: fe-build

chore: clear log
  icando-ae-api/internal/domain/repository/analytics.go
Due: be-build

chore(ad-01-11): adjust dao
  icando-ae-api/internal/model/dao/analytics.go
Due: be-build

fix: timing issue in navigate to submit
  icando-ae-fe/apps/assessment-web/src/pages/quiz.tsx
  icando-ae-fe/apps/assessment-web/src/pages/submit.tsx
Due: fe-build

chore(ad-01-11): select quiz id and student quiz id
  icando-ae-api/internal/domain/repository/analytics.go
Due: be-build

chore(ad-01-11): return class of the student
  icando-ae-api/internal/domain/service/analytics.go
Due: be-build

feat(ad-01-11): student interface
  icando-ae-fe/apps/analytics-dashboard/src/interfaces/student.ts
Due: fe-build

feat(ad-01-11): student statistics service
  icando-ae-fe/apps/analytics-dashboard/src/services/student.ts
Due: fe-build

feat(ad-01-11): student info component
  icando-ae-fe/apps/analytics-dashboard/src/components/student/student-info.tsx
Due: fe-build

feat(ad-01-11): quiz statistics chart
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/quiz-statistics-chart.tsx
Due: fe-build

feat(ad-01-11): quiz list
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/quiz-list.tsx
Due: fe-build

feat(ad-01-11): student statistics
  icando-ae-fe/apps/analytics-dashboard/src/components/student/statistics.tsx
Due: fe-build

feat(ad-01-11): student statistics
  icando-ae-fe/apps/analytics-dashboard/src/pages/students/student/index.tsx
Due: fe-build

feat(ad-01-11): student statistics route
  icando-ae-fe/apps/analytics-dashboard/src/App.tsx
Due: fe-build

chore(ad-01-11): change route
  icando-ae-fe/apps/analytics-dashboard/src/App.tsx
Due: fe-build

fix: card description label
  icando-ae-fe/apps/assessment-web/src/pages/home/index.tsx
Due: fe-build

fix: context in sidebar
  icando-ae-fe/apps/assessment-web/src/layouts/navigation.tsx
Due: fe-build

refactor(ad-01-11): use camel case
  icando-ae-api/internal/model/dao/analytics.go
Due: be-build

fix: same student_quiz COUNT counted multiple times
  icando-ae-api/internal/domain/repository/analytics.go
Due: be-build

refactor(ad-01-11): use camel case
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/quiz-list.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/student/statistics.tsx
  icando-ae-fe/apps/analytics-dashboard/src/interfaces/student.ts
  icando-ae-fe/apps/analytics-dashboard/src/services/student.ts
Due: fe-build

style(ad-01-11): change pass and fail color
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/quiz-statistics-chart.tsx
Due: fe-build
