Repository JeffreyChow19/icando-assesment-system: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be-build, fe-build

.gitlab-ci.yml:

stages:
  - be-build
  - fe-build

variables:
  GO_PROJECT: gitlab.informatika.org/if3250-k01-g07/assesment-system/icando-ae-api
  POSTGRES_DB: ${TEST_DB_NAME}
  POSTGRES_USER: ${TEST_DB_USERNAME}
  POSTGRES_PASSWORD: ${TEST_DB_PASSWORD}

be-build:
  image: golang:1.22.1-alpine
  stage: be-build
  script:
    - mkdir -p $GOPATH/src/$(dirname $GO_PROJECT)
    - ln -svf $CI_PROJECT_DIR $GOPATH/src/$GO_PROJECT
    - cd $GOPATH/src/$GO_PROJECT/icando-ae-api
    - go build -o ./main ./cmd/server/server.go
  artifacts:
    paths:
      - ./icando-ae-api/main
  only:
    refs:
      - main
      - merge_requests
    changes:
      - icando-ae-api/**/*

fe-build:
  image: node:20-alpine
  stage: fe-build
  script:
    - cd icando-ae-fe
    - npm install -g pnpm
    - pnpm install
    - pnpm run build
  only:
    refs:
      - main
      - merge_requests
    changes:
      - icando-ae-fe/**/*
# be-test:
#   stage: be-test
#   services:
#     - name: postgres:14
#       alias: test_database
#   script:
#     - go test -v ./...
#   only:
#     refs:
#       - main
#       - merge_requests
#     changes:
#       - icando-ae-api/**/*

fix worker, fix token
  icando-ae-api/cmd/worker/worker.go
  icando-ae-api/internal/domain/service/quiz.go
  icando-ae-fe/apps/assessment-web/src/pages/join.tsx
Due: be-build, fe-build

refactor: quiz interfaces and context
  icando-ae-fe/apps/assessment-web/src/App.tsx
  icando-ae-fe/apps/assessment-web/src/components/protected-route.tsx
  icando-ae-fe/apps/assessment-web/src/context/user-context.tsx
  icando-ae-fe/apps/assessment-web/src/interfaces/quiz.ts
  icando-ae-fe/apps/assessment-web/src/pages/home/index.tsx
  icando-ae-fe/apps/assessment-web/src/pages/quiz.tsx
  icando-ae-fe/apps/assessment-web/src/services/quiz.ts
Due: fe-build

feat: error toast
  icando-ae-fe/apps/assessment-web/src/components/error-toast.tsx
Due: fe-build

feat: quiz question page
  icando-ae-fe/apps/assessment-web/package.json
  icando-ae-fe/apps/assessment-web/src/App.tsx
  icando-ae-fe/apps/assessment-web/src/pages/quiz.tsx
  icando-ae-fe/apps/assessment-web/src/services/quiz.ts
  icando-ae-fe/pnpm-lock.yaml
Due: fe-build

feat: modify layout and navigate
  icando-ae-fe/apps/assessment-web/src/layouts/layout.tsx
  icando-ae-fe/apps/assessment-web/src/pages/home/index.tsx
Due: fe-build

feat: set navigation from sidebar
  icando-ae-fe/apps/assessment-web/src/layouts/navigation.tsx
Due: fe-build

fix with answers
  icando-ae-api/internal/domain/repository/student_quiz.go
  icando-ae-api/internal/domain/service/student_quiz.go
  icando-ae-api/internal/migrations/sql/20240421134740_add_fk_student_answers.sql
  icando-ae-api/internal/model/student_answer.go
  icando-ae-api/internal/model/student_quiz.go
Due: be-build

fix: get quiz api with class
  icando-ae-api/internal/domain/service/quiz.go
Due: be-build

feat: add quiz information
  icando-ae-fe/apps/assessment-engine/src/components/quiz/history/quiz-info.tsx
Due: fe-build

feat: add format date utils
  icando-ae-fe/apps/assessment-engine/src/utils/format-date.ts
Due: fe-build

fix: change data type of startAt and endAt
  icando-ae-fe/apps/assessment-engine/src/interfaces/quiz.ts
Due: fe-build

fix: formatted date display
  icando-ae-fe/apps/assessment-engine/src/components/quizzes/quiz-card.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quizzes/quiz-history.tsx
Due: fe-build

feat: submit quiz
  icando-ae-fe/apps/assessment-web/src/pages/quiz.tsx
  icando-ae-fe/apps/assessment-web/src/services/quiz.ts
Due: fe-build

feat: submit quiz page
  icando-ae-fe/apps/assessment-web/src/App.tsx
  icando-ae-fe/apps/assessment-web/src/pages/quiz.tsx
  icando-ae-fe/apps/assessment-web/src/pages/submit.tsx
Due: fe-build

feat: save user choice
  icando-ae-fe/apps/assessment-web/src/interfaces/quiz.ts
  icando-ae-fe/apps/assessment-web/src/pages/quiz.tsx
Due: fe-build

chore: format code
  icando-ae-fe/apps/assessment-web/src/context/user-context.tsx
  icando-ae-fe/apps/assessment-web/src/interfaces/quiz.ts
  icando-ae-fe/apps/assessment-web/src/pages/quiz.tsx
  icando-ae-fe/apps/assessment-web/src/services/quiz.ts
Due: fe-build

fix: useeffect deps
  icando-ae-fe/apps/assessment-web/src/pages/quiz.tsx
Due: fe-build

fix: verbose error handling on welcome page
  icando-ae-fe/apps/assessment-web/src/pages/home/index.tsx
  icando-ae-fe/apps/assessment-web/src/pages/join.tsx
Due: fe-build

style: format date
  icando-ae-fe/apps/assessment-web/src/pages/home/index.tsx
  icando-ae-fe/apps/assessment-web/src/utils/format-date.ts
Due: fe-build

refactor: student_quiz response error msg
  icando-ae-api/internal/domain/service/student_quiz.go
Due: be-build

chore: datepicker width, duration hint on quiz publish form
  icando-ae-fe/apps/assessment-engine/src/components/quiz/quiz-publish.tsx
  icando-ae-fe/apps/assessment-engine/src/pages/quiz/publish.tsx
Due: fe-build

feat: validate duration less than or equal to quiz date interval
  icando-ae-fe/apps/assessment-engine/src/components/quiz/quiz-publish.tsx
  icando-ae-fe/apps/assessment-engine/src/components/quiz/quiz-schema.ts
Due: fe-build

chore: change favicons
  icando-ae-fe/apps/analytics-dashboard/index.html
  icando-ae-fe/apps/analytics-dashboard/public/sekolahmu_book.svg
  icando-ae-fe/apps/analytics-dashboard/public/vite.svg
  icando-ae-fe/apps/assessment-engine/index.html
  icando-ae-fe/apps/assessment-engine/public/sekolahmu_book.svg
  icando-ae-fe/apps/assessment-engine/public/vite.svg
  icando-ae-fe/apps/assessment-web/index.html
  icando-ae-fe/apps/assessment-web/public/sekolahmu_book.svg
  icando-ae-fe/apps/assessment-web/public/vite.svg
  icando-ae-fe/sekolahmu_book.svg
Due: fe-build

chore: pageTitle formatting on layout component
  icando-ae-fe/apps/analytics-dashboard/index.html
  icando-ae-fe/apps/analytics-dashboard/src/layouts/layout.tsx
  icando-ae-fe/apps/assessment-engine/src/layouts/layout.tsx
  icando-ae-fe/apps/assessment-engine/src/pages/login.tsx
  icando-ae-fe/apps/assessment-web/src/layouts/layout.tsx
Due: fe-build

feat: fe layout on ad
  icando-ae-fe/apps/analytics-dashboard/public/logo.png
  icando-ae-fe/apps/analytics-dashboard/src/App.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/protected-route.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/shared/custom-card.tsx
  icando-ae-fe/apps/analytics-dashboard/src/layouts/layout.tsx
  icando-ae-fe/apps/analytics-dashboard/src/layouts/navigation.tsx
  icando-ae-fe/apps/analytics-dashboard/src/pages/dashboard.tsx
  icando-ae-fe/apps/analytics-dashboard/src/pages/hello.tsx
  icando-ae-fe/packages/ui/src/components/ui/breadcrumb.tsx
Due: fe-build

style: improve input ui
  icando-ae-fe/packages/ui/src/components/ui/input.tsx
Due: fe-build

feat: add fe login page on AD
  icando-ae-fe/apps/analytics-dashboard/public/login-img.png
  icando-ae-fe/apps/analytics-dashboard/src/App.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/login/login-form-schema.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/login/login-form.tsx
  icando-ae-fe/apps/analytics-dashboard/src/pages/login.tsx
Due: fe-build

chore: imports for AD fe setup
  icando-ae-fe/apps/analytics-dashboard/src/App.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/protected-route.tsx
Due: fe-build

feat: initial student quiz competency
  icando-ae-api/internal/domain/service/student_quiz.go
  icando-ae-api/internal/migrations/sql/20240427152806_add_student_quiz_competencies.sql
  icando-ae-api/internal/model/dto/student_quiz.go
  icando-ae-api/internal/model/student_quiz_competency.go
  icando-ae-api/internal/worker/handler/score.go
Due: be-build

feat: calculate score on submit
  icando-ae-api/internal/domain/service/student_quiz.go
  icando-ae-api/internal/worker/handler/score.go
Due: be-build

feat: get student quiz competency repository
  icando-ae-api/internal/domain/repository/competency.go
  icando-ae-api/internal/model/dao/student_competency.go
  icando-ae-api/internal/model/dto/student_competency.go
Due: be-build

feat: return has newer quiz version on backend
  icando-ae-api/internal/domain/repository/quiz.go
  icando-ae-api/internal/domain/service/student_quiz.go
  icando-ae-api/internal/model/dao/quiz.go
  icando-ae-api/internal/model/quiz.go
Due: be-build

feat: show warning if has newer quiz version
  icando-ae-api/internal/model/quiz.go
  icando-ae-fe/apps/assessment-web/src/interfaces/quiz.ts
  icando-ae-fe/apps/assessment-web/src/pages/home/index.tsx
  icando-ae-fe/packages/ui/src/components/ui/alert.tsx
Due: be-build, fe-build

feat: add login functionality
  icando-ae-fe/apps/analytics-dashboard/src/components/login/login-form.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/protected-route.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/ui/custom-card.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/ui/error-toast.tsx
  icando-ae-fe/apps/analytics-dashboard/src/pages/dashboard.tsx
  icando-ae-fe/apps/analytics-dashboard/src/pages/login.tsx
  icando-ae-fe/apps/analytics-dashboard/src/services/auth.ts
Due: fe-build

fix: import errors
  icando-ae-fe/apps/analytics-dashboard/src/components/protected-route.tsx
Due: fe-build

refactor: title login
  icando-ae-fe/apps/analytics-dashboard/src/pages/login.tsx
Due: fe-build

feat: add submit confirmation, alert remaining time, handle edge case quiz end time
  icando-ae-fe/apps/assessment-web/src/pages/quiz.tsx
Due: fe-build

feat: modify alert dialog style
  icando-ae-fe/apps/assessment-web/src/context/alert-dialog.tsx
Due: fe-build

fix: student answers state management
  icando-ae-fe/apps/assessment-web/src/pages/quiz.tsx
Due: fe-build

feat: add 2 hours in quiz token expiry
  icando-ae-api/internal/domain/service/quiz.go
Due: be-build
