Repository JeffreyChow19/icando-assesment-system: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be-build, fe-build

be-build:
  image: golang:1.22.1-alpine
  stage: be-build
  script:
  - mkdir -p $GOPATH/src/$(dirname $GO_PROJECT)
  - ln -svf $CI_PROJECT_DIR $GOPATH/src/$GO_PROJECT
  - cd $GOPATH/src/$GO_PROJECT/icando-ae-api
  - go build -o ./main ./cmd/server/server.go
  artifacts:
    paths:
    - ./icando-ae-api/main

fe-build:
  image: node:20-alpine
  stage: fe-build
  script:
  - cd icando-ae-fe
  - npm install -g pnpm
  - pnpm install
  - pnpm run build

style(ad-01-11): change width
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/competency-chart.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/quiz-list.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/quiz-statistics-chart.tsx
Due: fe-build

feat(ad-01-11): stats card
  icando-ae-fe/apps/analytics-dashboard/src/components/student/statistics.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/ui/stats-card.tsx
Due: fe-build

style(ad-01-11): remove bg
  icando-ae-fe/apps/analytics-dashboard/src/components/student/student-info.tsx
Due: fe-build

style(ad-01-11): remove bg
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/review/quiz-info.tsx
Due: fe-build

style(ad-01-11): use stats card
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/review/student-quiz.tsx
Due: fe-build

chore(ad-01-11): use card title
  icando-ae-fe/apps/analytics-dashboard/src/components/student/statistics.tsx
Due: fe-build

chore(ad-01-11): text left
  icando-ae-fe/apps/analytics-dashboard/src/components/student/student-info.tsx
Due: fe-build

style(ad-01-11): item start on student info
  icando-ae-fe/apps/analytics-dashboard/src/components/student/statistics.tsx
Due: fe-build

style(ad-01-11): text align left
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/review/quiz-info.tsx
Due: fe-build

style(ad-01-11): set items start
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/review/student-quiz.tsx
Due: fe-build

style(ad-01-11): use card title
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/review/student-quiz.tsx
Due: fe-build

chore: add more info on quiz detail
  icando-ae-api/internal/domain/repository/analytics.go
  icando-ae-api/internal/domain/repository/student_quiz.go
  icando-ae-api/internal/domain/service/student_quiz.go
  icando-ae-api/internal/model/dao/analytics.go
Due: be-build

feat: add student quiz table
  icando-ae-api/internal/handler/teacher/quiz.go
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/history-collapsible.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/quiz-detail-card.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/student-quiz-table.tsx
  icando-ae-fe/apps/analytics-dashboard/src/interfaces/class.ts
  icando-ae-fe/apps/analytics-dashboard/src/interfaces/quiz.ts
  icando-ae-fe/apps/analytics-dashboard/src/pages/quizzes/quiz-detail.tsx
  icando-ae-fe/apps/analytics-dashboard/src/services/student-quiz.ts
  icando-ae-fe/apps/analytics-dashboard/src/utils/format-date.ts
Due: be-build, fe-build

feat: add quiz stats on quiz detail page
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/quiz-detail-card.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/quiz-statistics-chart.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/shared/custom-card.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/student/statistics.tsx
  icando-ae-fe/apps/analytics-dashboard/src/interfaces/user.ts
  icando-ae-fe/apps/analytics-dashboard/src/layouts/navigation.tsx
  icando-ae-fe/apps/analytics-dashboard/src/pages/quizzes/quiz-detail.tsx
  icando-ae-fe/apps/analytics-dashboard/src/services/analytics.ts
  icando-ae-fe/apps/analytics-dashboard/src/services/quiz.ts
  icando-ae-fe/apps/analytics-dashboard/src/services/student.ts
Due: fe-build

style: show apge title on quiz/:id
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/quiz-detail-card.tsx
  icando-ae-fe/apps/analytics-dashboard/src/pages/quizzes/quiz-detail.tsx
Due: fe-build

fix: get only teacher's quizzes
  icando-ae-api/internal/domain/repository/quiz.go
  icando-ae-api/internal/handler/teacher/quiz.go
  icando-ae-api/internal/model/dto/quiz.go
  icando-ae-api/internal/route/teacher/quiz.go
Due: be-build

fix: login to refresh context
  icando-ae-fe/apps/analytics-dashboard/src/components/login/login-form.tsx
  icando-ae-fe/apps/analytics-dashboard/src/layouts/navigation.tsx
  icando-ae-fe/apps/analytics-dashboard/src/pages/login.tsx
Due: fe-build

fix: only fetch version history related to teacher
  icando-ae-api/internal/domain/repository/quiz.go
  icando-ae-api/internal/handler/teacher/quiz.go
  icando-ae-api/internal/model/dto/quiz.go
Due: be-build

style: semibold on quizdetail card
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/quiz-detail-card.tsx
Due: fe-build

style: history table
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/history-collapsible.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/quizzes-table.tsx
Due: fe-build

fix: get all class repository
  icando-ae-api/internal/domain/repository/class.go
Due: be-build

feat: add teacher id filter in get all student
  icando-ae-api/internal/domain/repository/student.go
  icando-ae-api/internal/model/dto/student.go
Due: be-build

feat: add endpoint student and class for teacher
  icando-ae-api/internal/handler/teacher/analytics.go
  icando-ae-api/internal/route/teacher/analytics.go
Due: be-build

chore: optimized imports
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/student-quiz-table.tsx
Due: fe-build

feat: add class relation in student dao
  icando-ae-api/internal/model/student.go
Due: be-build

feat: add students table component
  icando-ae-fe/apps/analytics-dashboard/src/components/student/students-table.tsx
  icando-ae-fe/apps/analytics-dashboard/src/interfaces/class.ts
  icando-ae-fe/apps/analytics-dashboard/src/interfaces/student.ts
  icando-ae-fe/apps/analytics-dashboard/src/services/student.ts
Due: fe-build

feat: add student list page
  icando-ae-fe/apps/analytics-dashboard/src/App.tsx
  icando-ae-fe/apps/analytics-dashboard/src/pages/students/index.tsx
Due: fe-build

fix: remove unused variable
  icando-ae-fe/apps/analytics-dashboard/src/components/student/students-table.tsx
Due: fe-build

fix: minor warning
  icando-ae-fe/apps/analytics-dashboard/src/App.tsx
  icando-ae-fe/apps/analytics-dashboard/src/components/student/students-table.tsx
Due: fe-build

fix: table head
  icando-ae-fe/apps/assessment-engine/src/components/students/students-table.tsx
Due: fe-build

fix: add class to studentdao
  icando-ae-api/internal/model/dao/student.go
Due: be-build

feat: add api call for performance and overview
  icando-ae-fe/apps/analytics-dashboard/src/interfaces/student.ts
  icando-ae-fe/apps/analytics-dashboard/src/services/analytics.ts
Due: fe-build

feat: implement dashboard
  icando-ae-fe/apps/analytics-dashboard/src/pages/dashboard.tsx
Due: fe-build

fix: latest submission slicing
  icando-ae-fe/apps/analytics-dashboard/src/pages/dashboard.tsx
Due: fe-build

chore: delete test
  icando-ae-fe/apps/analytics-dashboard/src/pages/test.tsx
Due: fe-build

fix: unanswered quiz review
  icando-ae-fe/apps/assessment-web/src/components/question-answer-card.tsx
  icando-ae-fe/apps/assessment-web/src/pages/review.tsx
Due: fe-build

fix: query key for review
  icando-ae-fe/apps/assessment-web/src/pages/review.tsx
Due: fe-build

chore: add correct answer section
  icando-ae-fe/apps/assessment-web/src/components/question-answer-card.tsx
Due: fe-build

style: percentage on questions piechart
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/review/student-quiz.tsx
Due: fe-build

style: percentage on competency chart
  icando-ae-fe/apps/analytics-dashboard/src/components/quiz/competency-chart.tsx
Due: fe-build

Path conditions:
  be-build: any of: icando-ae-api/**/*
  fe-build: any of: icando-ae-fe/**/*
